<p>
  This workshop introduces high performance computing using 
  the Jackson Laboratory’s computing cluster. The goal 
  is to teach novice programmers to use powerful tools and 
  computing resources, and to engage in best practices 
  for using these resources. The emphasis of this workshop 
  is to teach best practices for 
  scientific computing in high performance computing environments. 
  By the end of this workshop, participants will be able to:
  <ul> 
    <li>connect to a cluster</li>
    <li>write simple shell scripts</li> 
    <li>submit and manage jobs on a cluster using a scheduler</li>
    <li>transfer files</li>
    <li>use software through environment modules</li> 
   </ul>
</p>


